In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

L_data = pd.read_csv("Data/L_data_merged.csv", low_memory = False)

L_data['date'] = pd.to_datetime(L_data['date'], infer_datetime_format=True)
L_data.head()

,date,daytype,rides,Station Name,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Neighborhood,City
0,2004-10-09,A,1057,Harold Washington Library-State/Van Buren (Bro...,True,False,False,False,True,False,False,False,False,False,"(41.876862, -87.628196)",Chicago Loop,Chicago
1,2010-06-18,W,1154,Central Park (Pink Line),True,False,False,False,False,False,False,False,True,False,"(41.853839, -87.714842)",North Lawndale,Chicago
2,2001-10-30,W,2116,Montrose (Brown Line),True,False,False,False,True,False,False,False,False,False,"(41.961756, -87.675047)",Lincoln Square,Chicago
3,2006-10-26,W,0,Washington/State (Closed),NaN,True,False,False,False,False,False,False,False,False,"(41.8837, -87.6278)",Chicago Loop,Chicago
4,2010-07-07,W,9431,Monroe (Red Line),False,True,False,False,False,False,False,False,False,False,"(41.880745, -87.627696)",Chicago Loop,Chicago

In [4]:
#find the unique daytypes

L_data['daytype'].unique()

array(['A', 'W', 'U'], dtype=object)

In [5]:
L_data_2018 = L_data.loc[(L_data['date']>= '01-01-2018') & (L_data['date']<= "12-31-2018")]

L_data_2018.head()

,date,daytype,rides,Station Name,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Neighborhood,City
884071,2018-01-19,W,930,Oakton-Skokie (Yellow Line),True,False,False,False,False,False,False,True,False,False,"(42.02624348, -87.74722084)",NaN,Skokie
884072,2018-02-20,W,5289,Pulaski (Orange Line),True,False,False,False,False,False,False,False,False,True,"(41.799756, -87.724493)",Archer Heights,Chicago
884073,2018-02-07,W,771,Central (Purple Line),False,False,False,False,False,True,True,False,False,False,"(42.063987, -87.685617)",NaN,Evanston
884074,2018-03-31,A,629,47th (Green Line),True,False,False,True,False,False,False,False,False,False,"(41.809209, -87.618826)",Bronzeville,Chicago
884075,2018-03-31,A,3288,"Howard (Red, Purple & Yellow Lines)",True,False,False,False,False,True,True,True,False,False,"(42.019063, -87.672892)",Rogers Park,Chicago

In [6]:
#get rides for 2018 and by type
rides_2018 = L_data_2018[['daytype', 'rides']].reset_index()

rides_2018.head()

    index daytype  rides
0  884071       W    930
1  884072       W   5289
2  884073       W    771
3  884074       A    629
4  884075       A   3288

In [8]:
#calculations for the rides by daytypes for 2018
rides_2018_daytype = rides_2018.groupby('daytype').sum()
rides_2018_daytype_avg = rides_2018.groupby("daytype").mean()

rides_A_18 = rides_2018_daytype.loc['A', 'rides']
rides_U_18 = rides_2018_daytype.loc['U', 'rides']
rides_W_18 = rides_2018_daytype.loc['W', 'rides']
avg_rides_A_18 = rides_2018_daytype_avg.loc['A', 'rides']
avg_rides_U_18 = rides_2018_daytype_avg.loc['U', 'rides']
avg_rides_W_18 = rides_2018_daytype_avg.loc['W', 'rides']

#create 2018 ride values data frame
ride_values_2018 = pd.DataFrame(columns = ["Total Rides", "Average Rides"], 
                             index = ["A", "U", "W"])

ride_values_2018.loc["A"] = [rides_A_18, avg_rides_A_18]
ride_values_2018.loc["U"] = [rides_U_18, avg_rides_U_18]
ride_values_2018.loc["W"] = [rides_W_18, avg_rides_W_18]

In [9]:
ride_values_2018

  Total Rides Average Rides
A    17742656       2369.48
U    14715895       1761.75
W   152687570       4158.16

In [11]:
L_data_2019 = L_data.loc[(L_data['date']>= '01-01-2019') & (L_data['date']<= "12-31-2019")]

#get rides for 2019 and by type
rides_2019 = L_data_2019[['daytype', 'rides']].reset_index()

In [12]:
#calculations for the rides by daytypes for 2019
rides_2019_daytype = rides_2019.groupby('daytype').sum()
rides_2019_daytype_avg = rides_2019.groupby("daytype").mean()

rides_A_19 = rides_2019_daytype.loc['A', 'rides']
rides_U_19 = rides_2019_daytype.loc['U', 'rides']
rides_W_19 = rides_2019_daytype.loc['W', 'rides']
avg_rides_A_19 = rides_2019_daytype_avg.loc['A', 'rides']
avg_rides_U_19 = rides_2019_daytype_avg.loc['U', 'rides']
avg_rides_W_19 = rides_2019_daytype_avg.loc['W', 'rides']

#create 2019 ride values data frame
ride_values_2019 = pd.DataFrame(columns = ["Total Rides", "Average Rides"], 
                             index = ["A", "U", "W"])

ride_values_2019.loc["A"] = [rides_A_19, avg_rides_A_19]
ride_values_2019.loc["U"] = [rides_U_19, avg_rides_U_19]
ride_values_2019.loc["W"] = [rides_W_19, avg_rides_W_19]

ride_values_2019

  Total Rides Average Rides
A    16671366       2240.78
U    14005028       1687.56
W   148394811       4067.06

In [14]:
L_data_2020 = L_data.loc[(L_data['date']>= '01-01-2020') & (L_data['date']<= "12-31-2020")]

#get rides for 2020 and by type
rides_2020 = L_data_2020[['daytype', 'rides']].reset_index()

In [15]:
#calculations for the rides by daytypes for 2020
rides_2020_daytype = rides_2020.groupby('daytype').sum()
rides_2020_daytype_avg = rides_2020.groupby("daytype").mean()

rides_A_20 = rides_2020_daytype.loc['A', 'rides']
rides_U_20 = rides_2020_daytype.loc['U', 'rides']
rides_W_20 = rides_2020_daytype.loc['W', 'rides']
avg_rides_A_20 = rides_2020_daytype_avg.loc['A', 'rides']
avg_rides_U_20 = rides_2020_daytype_avg.loc['U', 'rides']
avg_rides_W_20 = rides_2020_daytype_avg.loc['W', 'rides']

#create 2020 ride values data frame
ride_values_2020 = pd.DataFrame(columns = ["Total Rides", "Average Rides"], 
                             index = ["A", "U", "W"])

ride_values_2020.loc["A"] = [rides_A_20, avg_rides_A_20]
ride_values_2020.loc["U"] = [rides_U_20, avg_rides_U_20]
ride_values_2020.loc["W"] = [rides_W_20, avg_rides_W_20]

ride_values_2020

  Total Rides Average Rides
A     3146658       1294.39
U     2619106       1017.52
W    31528216       2563.69