In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [41]:
L_data = pd.read_csv('L_data_merged.csv', low_memory = False)

In [42]:
L_data['date'] = pd.to_datetime(L_data['date'], infer_datetime_format=True)

In [44]:
#neigh = L_data.groupby(pd.Grouper(key='Neighborhoods', freq='Y')).agg({
#    'rides': 'sum'
#})

#neigh



neighborhood = L_data.groupby(["Neighborhood"]).sum()
neighborhood

,rides,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O
Neighborhood,,,,,,,,,,
Albany Park,30709654,0.0,0.0,0.0,14121.0,0.0,0.0,0.0,0.0,0.0
Archer Heights,28735825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7062.0
Armour Square,27539044,7030.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Austin,48369943,0.0,7063.0,28260.0,0.0,0.0,0.0,0.0,0.0,0.0
Avondale,29075968,0.0,7071.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bridgeport,14850467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7063.0
Brighton Park,18136907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7068.0
Bronzeville,25008547,0.0,0.0,28265.0,0.0,0.0,0.0,0.0,0.0,0.0
Bucktown,26235018,0.0,7060.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chicago Loop,848755391,38289.0,35332.0,27955.0,56213.0,0.0,12823.0,0.0,19884.0,12823.0
Douglas,12631404,0.0,0.0,7062.0,0.0,0.0,0.0,0.0,0.0,0.0
East Albany Park,11172387,0.0,0.0,0.0,7065.0,0.0,0.0,0.0,0.0,0.0
Edgewater,90325826,28247.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Englewood,24804065,7030.0,0.0,7062.0,0.0,0.0,0.0,0.0,0.0,0.0
Fuller Park,41563861,14063.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Garfield Park,66709175,0.0,14142.0,28144.0,0.0,0.0,0.0,0.0,0.0,7063.0
Garfield Ridge,51186418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7061.0
Goose Island,31433825,7062.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Greater Grand Crossing,34717424,7032.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Irving Park,28208324,0.0,14138.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Jefferson Park,37986470,0.0,7065.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Lake View,31382446,0.0,0.0,0.0,14125.0,0.0,0.0,0.0,0.0,0.0
Lake View East,170585632,7063.0,0.0,0.0,14126.0,0.0,14126.0,0.0,0.0,0.0
Lincoln Park,51121736,0.0,0.0,0.0,14125.0,0.0,14125.0,0.0,0.0,0.0
Lincoln Square,49630799,0.0,0.0,0.0,21207.0,0.0,0.0,0.0,0.0,0.0
Logan Square,60579797,0.0,14127.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Lower West Side,21417627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14124.0,7061.0
Marshall Square,6891219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7062.0,0.0
Near North,31853788,0.0,0.0,0.0,7067.0,0.0,7067.0,0.0,0.0,0.0
Near North Side,20248142,0.0,0.0,0.0,7063.0,0.0,7063.0,0.0,0.0,0.0
Near South Side,2539752,0.0,0.0,1947.0,0.0,0.0,0.0,0.0,0.0,0.0
Near West Side,102418720,0.0,35344.0,0.0,0.0,0.0,0.0,0.0,7068.0,0.0
North Center,27632944,0.0,0.0,0.0,14123.0,0.0,0.0,0.0,0.0,0.0
North Lawndale,18281878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28246.0,0.0
O'Hare,92805170,0.0,14126.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Old Irving Park,24188731,0.0,7065.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Oriole Park,16337639,0.0,7060.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Pulaski Park,31243571,0.0,7063.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ravenswood Gardens,9163446,0.0,0.0,0.0,7065.0,0.0,0.0,0.0,0.0,0.0
River North,192738846,14123.0,0.0,0.0,7061.0,0.0,7061.0,0.0,0.0,0.0
Rogers Park,105967180,21202.0,0.0,0.0,0.0,7068.0,7068.0,7068.0,0.0,0.0
Roseland,72893587,7035.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Rush & Division,46345581,7062.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sheffield & DePaul,72038163,0.0,0.0,0.0,7061.0,0.0,7061.0,0.0,0.0,0.0
South Loop,25029817,7034.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
South Side,93841280,14067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7063.0
Uptown,72253318,14134.0,0.0,0.0,0.0,0.0,7069.0,0.0,0.0,0.0
Washington Park,9546902,0.0,0.0,7060.0,0.0,0.0,0.0,0.0,0.0,0.0
West Englewood,9440276,0.0,0.0,7062.0,0.0,0.0,0.0,0.0,0.0,0.0
West Loop,37217282,0.0,0.0,17048.0,0.0,0.0,0.0,0.0,17048.0,0.0
West Town,65385198,0.0,21193.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Woodlawn,11574044,0.0,0.0,14129.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
L_data["Neighborhood"].unique()

array(['Chicago Loop', 'North Lawndale', 'Lincoln Square',
       'Lake View East', 'Near West Side', 'Old Irving Park',
       'Garfield Park', 'Lake View', 'Irving Park', 'Uptown', nan,
       'Bucktown', 'Edgewater', 'Brighton Park', 'Logan Square',
       'Sheffield & DePaul', 'South Loop', 'Bridgeport',
       'Lower West Side', 'Austin', 'Bronzeville', 'Archer Heights',
       'Rush & Division', 'West Loop', 'South Side', 'Albany Park',
       'Greater Grand Crossing', 'Oriole Park', 'Marshall Square',
       'North Center', 'Englewood', 'East Albany Park', 'Rogers Park',
       "O'Hare", 'Near North', 'Armour Square', 'Fuller Park', 'Woodlawn',
       'West Englewood', 'River North', 'Lincoln Park', 'Washington Park',
       'West Town', 'Garfield Ridge', 'Douglas', 'Avondale',
       'Ravenswood Gardens', 'Goose Island', 'Near North Side',
       'Roseland', 'Pulaski Park', 'Near South Side', 'Jefferson Park'],
      dtype=object)

In [48]:
cl = pd.DataFrame(L_data["Neighborhood"] == 'Chicago Loop')
cl

         Neighborhood
0                True
1               False
2               False
3                True
4                True
...               ...
1006156          True
1006157          True
1006158          True
1006159          True
1006160          True

[1006161 rows x 1 columns]

In [31]:
L_data_3_yr = L_data.loc[(L_data['date']>= "01-01-2015") & (L_data['date']<= "01-01-2019")]

L_data_3_yr

,date,daytype,rides,Station Name,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Neighborhood,City
10,2015-05-20,W,3876,Harrison (Red Line),False,True,False,False,False,False,False,False,False,False,"(41.874039, -87.627479)",Chicago Loop,Chicago
12,2017-07-27,W,3739,Southport (Brown Line),True,False,False,False,True,False,False,False,False,False,"(41.943744, -87.663619)",Lake View,Chicago
20,2015-10-23,W,3854,Forest Park (Blue Line),True,False,True,False,False,False,False,False,False,False,"(41.874257, -87.817318)",NaN,Forest Park
24,2016-08-18,W,1115,Pulaski (Pink Line),True,False,False,False,False,False,False,False,True,False,"(41.853732, -87.724311)",North Lawndale,Chicago
31,2017-10-08,U,2206,Southport (Brown Line),True,False,False,False,True,False,False,False,False,False,"(41.943744, -87.663619)",Lake View,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940941,2019-01-01,U,6732,Lake (Red Line),True,True,False,False,False,False,False,False,False,False,"(41.884809, -87.627813)",Chicago Loop,Chicago
940972,2019-01-01,U,395,Conservatory (Green Line),True,False,False,True,False,False,False,False,False,False,"(41.884904, -87.716523)",Garfield Park,Chicago
941003,2019-01-01,U,181,Oakton-Skokie (Yellow Line),True,False,False,False,False,False,False,True,False,False,"(42.02624348, -87.74722084)",NaN,Skokie
941034,2019-01-01,U,415,Cermak-McCormick Place (Green Line),True,False,False,True,False,False,False,False,False,False,"(41.853115, -87.626402)",Near South Side,Chicago
941065,2019-01-01,U,2690,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,False,False,False,False,"(41.88322, -87.626189)",Chicago Loop,Chicago

In [15]:
L_data_3_yr["Neighborhood"]

10          Chicago Loop
12             Lake View
20                   NaN
24        North Lawndale
31             Lake View
               ...
936627      Chicago Loop
936628      Chicago Loop
936629      Chicago Loop
936630      Chicago Loop
936631      Chicago Loop
Name: Neighborhood, Length: 210538, dtype: object

In [16]:
monthly_totals = L_data.groupby(pd.Grouper(key='date', freq='M')).agg({
    'rides': 'sum'
})

monthly_totals

               rides
date
2001-01-31  12286897
2001-02-28  11415793
2001-03-31  12914296
2001-04-30  12287737
2001-05-31  13148263
...              ...
2019-12-31  13104631
2020-01-31  14054329
2020-02-29  13365729
2020-03-31   8024293
2020-04-30   1849629

[232 rows x 1 columns]

In [ ]:
#green = stations['G']
#L_data.loc[(L_data['date']>= "01-05-2015") & (L_data['date']<= "01-31-2016")].groupby(pd.Grouper(key='date', freq='W')).agg({
#    'rides': 'sum'
#}).plot(kind = 'line')
year_totals = L_data.groupby(pd.Grouper(key='date', freq='Y')).agg({
    'rides': 'sum'
})

yearly_totals

In [ ]:
#plt.bar(ni, energy, color='green')

In [ ]:
L_data.loc[(L_data['date']>= "01-05-2015") & (L_data['date']<= "01-31-2016")].groupby(pd.Grouper(key='date', freq='W')).agg({
    'rides': 'sum'
}).plot(kind = 'line')

In [ ]:
green_df = pd.DataFrame(data = green)

In [ ]:
green_df[(green_df!=0)].dropna()

In [ ]:
#guess percentage of people who got on each stop. divide by people from each L line. 
#better guess of how many are really riding each line.