In [46]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

L_data = pd.read_csv("Data/L_data_merged.csv", low_memory = False)

L_data['date'] = pd.to_datetime(L_data['date'], infer_datetime_format=True)

L_data.head()

,date,daytype,rides,Station Name,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Neighborhood,City
0,2004-10-09,A,1057,Harold Washington Library-State/Van Buren (Bro...,True,False,False,False,True,False,False,False,False,False,"(41.876862, -87.628196)",Chicago Loop,Chicago
1,2010-06-18,W,1154,Central Park (Pink Line),True,False,False,False,False,False,False,False,True,False,"(41.853839, -87.714842)",North Lawndale,Chicago
2,2001-10-30,W,2116,Montrose (Brown Line),True,False,False,False,True,False,False,False,False,False,"(41.961756, -87.675047)",Lincoln Square,Chicago
3,2006-10-26,W,0,Washington/State (Closed),NaN,True,False,False,False,False,False,False,False,False,"(41.8837, -87.6278)",Chicago Loop,Chicago
4,2010-07-07,W,9431,Monroe (Red Line),False,True,False,False,False,False,False,False,False,False,"(41.880745, -87.627696)",Chicago Loop,Chicago

In [45]:
#weekly rides

# Create bins for weeks of the year
week_bins = ["01-01-2018 to 01-07-2018", "01-08-2018 to 01-14-2018", "01-15-2018 to 01-21-2018", "01-22-2018 to 01-28-2018", "01-29-2018 to 02-04-2018", 
            "02-05-2018 to 02-11-2018", "02-12-2018 to 02-18-2018", "02-19-2018 to 02-25-2018", "02-26-2018 to 03-04-2018", "03-05-2018 to 03-11-2018", 
            "03-12-2018 to 03-18-2018", "03-19-2018 to 03-25-2018", "03-26-2018 to 04-01-2018", "04-02-2018 to 04-08-2018", "04-09-2018 to 04-15-2018", 
            "04-16-2018 to 04-22-2018", "04-23-2018 to 04-29-2018", "04-30-2018 to 05-06-2018", "05-07-2018 to 05-13-2018", "05-14-2018 to 05-20-2018", 
             "05-21-2018 to 05-27-2018", "05-28-2018 to 06-03-2018", "06-04-2018 to 06-10-2018", "06-11-2018 to 06-17-2018", "06-18-2018 to 06-24-2018", 
             "06-25-2018 to 07-01-2018", "07-02-2018 to 07-08-2018", "07-09-2018 to 07-15-2018", "07-16-2018 to 07-22-2018", "07-23-2018 to 07-29-2018", 
            "07-30-2018 to 08-05-2018", "08-06-2018 to 08-12-2018", "08-13-2018 to 08-19-2018", "08-20-2018 to 08-26-2018", "08-27-2018 to 09-02-2018", 
            "09-03-2018 to 09-09-2018", "09-10-2018 to 09-16-2018", "09-17-2018 to 09-23-2018", "09-24-2018 to 09-30-2018", "10-01-2018 to 10-07-2018", 
            "10-08-2018 to 10-14-2018", "10-15-2018 to 10-21-2018", "10-22-2018 to 10-28-2018", "10-29-2018 to 11-04-2018", "11-05-2018 to 11-11-2018", 
             "11-12-2018 to 11-18-2018", "11-19-2018 to 11-25-2018", "11-26-2018 to 12-02-2018", "12-03-2018 to 12-09-2018", "12-10-2018 to 12-16-2018", 
            "12-17-2018 to 12-23-2018", "12-24-2018 to 12-31-2018"]

# Create labels for these bins
group_labels_week = ["week 1", "week 2", "week 3", "week 4", "week 5", "week 6", "week 7", "week 8", "week 9", "week 10", "week 11", "week 12", "week 13", 
                     "week 14", "week 15", "week 16", "week 17", "week 18", "week 19", "week 20", "week 21", "week 22", "week 23", "week 24", "week 25", 
                     "week 26", "week 27", "week 28", "week 29", "week 30", "week 31", "week 32", "week 33", "week 34", "week 35", "week 36", "week 37", 
                     "week 38", "week 39", "week 40", "week 41", "week 42", "week 43", "week 44", "week 45", "week 46", "week 47", "week 48", "week 49", 
                     "week 50", "week 51", "week 52"]
    
    
# Slice the data and place it into bins and do calculations
L_data_2018['Week of the Year'] =  pd.cut(L_data_2018["date"], week_bins, labels=group_labels_week)

L_data_2018['Week of the Year']

ValueError: bins must be of datetime64 dtype