In [7]:
# Dependencies
import pandas as pd
import requests
import json
from pprint import pprint

# Google developer API key
from config import gkey

# Build the endpoint URL
base_url = f'https://maps.googleapis.com/maps/api/geocode/json'

In [26]:
L_df =pd.read_csv('../Data/L_ridership_daily.csv')

L_df

         station_id        stationname        date daytype  rides
0             40850            Library  10/09/2004       A   1057
1             40780       Central Park  06/18/2010       W   1154
2             41500     Montrose-Brown  10/30/2001       W   2116
3             40500   Washington/State  10/26/2006       W      0
4             41090       Monroe/State  07/07/2010       W   9431
...             ...                ...         ...     ...    ...
1006156       41700  Washington/Wabash  04/26/2020       U    419
1006157       41700  Washington/Wabash  04/27/2020       W    883
1006158       41700  Washington/Wabash  04/28/2020       W    880
1006159       41700  Washington/Wabash  04/29/2020       W    768
1006160       41700  Washington/Wabash  04/30/2020       W    880

[1006161 rows x 5 columns]

In [18]:
def look_up(key):
    lookup= { '18th' : '18th (Pink Line)',
    '35-Bronzeville-IIT' : '35th-Bronzeville-IIT (Green Line)',
    '35th/Archer' : '35th/Archer (Orange Line)',
    '43rd' : '43rd (Green Line)',
    '47th-Dan Ryan' : '47th (Red Line)',
    '47th-South Elevated' :'47th (Green Line)' ,
    '51st' : '51st (Green Line)',
    '54th/Cermak' : '54th/Cermak (Pink Line)',
    '63rd-Dan Ryan' : '63rd (Red Line)',
    '69th' : '69th (Red Line)',
    '79th' : '79th (Red Line)',
    '87th' : '87th (Red Line)',
    '95th/Dan Ryan' : '95th/Dan Ryan (Red Line)',
    'Adams/Wabash' : 'Adams/Wabash (Brown, Green, Orange, Pink & Purple Lines)',
    'Addison-Brown' : 'Addison (Brown Line)',
    'Addison-North Main' : 'Addison (Red Line)',
    "Addison-O'Hare" : 'Addison (Blue Line)',
    'Argyle' : 'Argyle (Red Line)',
    'Armitage' : "Armitage (Brown & Purple Lines)",
    'Ashland-Lake' : 'Ashland (Green & Pink Lines)',
    'Ashland-Orange' : 'Ashland (Orange Line)',
    'Ashland/63rd': 'Ashland/63rd (Green Line)',
    'Austin-Forest Park' : 'Austin (Green Line)',
    'Austin-Lake' : 'Austin (Blue Line)',
    'Belmont-North Main' : 'Belmont (Red, Brown & Purple Lines)',
    "Belmont-O'Hare" : 'Belmont (Blue Line)',
    'Berwyn' : 'Berwyn (Red Line)',
    'Bryn Mawr' : 'Bryn Mawr (Red Line)',
    'California-Cermak' : 'California (Pink Line)',
    'California-Lake' : 'California (Green Line)',
    'California/Milwaukee' : 'California (Blue Line)',
    'Central Park' : 'Central Park (Pink Line)',
    'Central-Evanston' : 'Central (Purple Line)',
    'Central-Lake' : 'Central (Green Line)',
    'Cermak-Chinatown' : 'Cermak-Chinatown (Red Line)',
    'Cermak-McCormick Place' : 'Cermak-McCormick Place (Green Line)',
    'Chicago/Franklin' : 'Chicago (Brown & Purple Lines)',
    'Chicago/Milwaukee' : 'Chicago (Blue Line)',
    'Chicago/State' : 'Chicago (Red Line)',
    'Cicero-Cermak' : 'Cicero (Pink Line)',
    'Cicero-Forest Park' : 'Cicero (Blue Line)',
    'Cicero-Lake' : 'Cicero (Green Line)',
    'Clark/Division' : 'Clark/Division (Red Line)',
    'Clark/Lake' : 'Clark/Lake (Blue, Brown, Green, Orange, Purple & Pink Lines)',
    'Clinton-Forest Park' : 'Clinton (Green & Pink Lines)',
    'Clinton-Lake' : 'Clinton (Blue Line)',
    'Conservatory' : 'Conservatory (Green Line)',
    'Cumberland' : 'Cumberland (Blue Line)',
    'Damen-Brown' : 'Damen (Brown Line)',
    'Damen-Cermak' : 'Damen (Pink Line)',
    'Damen/Milwaukee' : 'Damen (Blue Line)',
    'Davis' : 'Davis (Purple Line)',
    'Dempster' : 'Dempster (Purple Line)',
    'Dempster-Skokie' : 'Dempster-Skokie  (Yellow Line)',
    'Diversey' : 'Diversey (Brown & Purple Lines)',
    'Division/Milwaukee' : 'Division (Blue Line)',
    'East 63rd-Cottage Grove' : 'Cottage Grove (Green Line)',
    'Forest Park' : 'Forest Park (Blue Line)',
    'Foster' : 'Foster (Purple Line)',
    'Francisco' : 'Francisco (Brown Line)',
    'Fullerton' : 'Fullerton (Red, Brown & Purple Lines)',
    'Garfield-Dan Ryan' : 'Garfield (Red Line)',
    'Garfield-South Elevated' : 'Garfield (Green Line)',
    'Grand/Milwaukee' : 'Grand (Blue Line)',
    'Grand/State' : 'Grand (Red Line)',
    'Granville' : 'Granville (Red Line)',
    'Halsted-Orange' : 'Halsted (Orange Line)',
    'Halsted/63rd' : 'Halsted (Green Line)',
    'Harlem-Forest Park' : 'Harlem (Blue Line - Forest Park Branch)',
    'Harlem-Lake' : 'Harlem/Lake (Green Line)',
    "Harlem-O'Hare" : "Harlem (Blue Line - O'Hare Branch)",
    'Harrison' : 'Harrison (Red Line)',
    'Homan' : 'Homan (Closed)',
    'Howard' : 'Howard (Red, Purple & Yellow Lines)',
    'Indiana' : 'Indiana (Green Line)',
    'Irving Park-Brown' : 'Irving Park (Brown Line)',
    "Irving Park-O'Hare" : "Irving Park (Blue Line)",
    'Jackson/Dearborn' : 'Jackson (Blue Line)',
    'Jackson/State' : 'Jackson (Red Line)',
    'Jarvis' : 'Jarvis (Red Line)',
    'Jefferson Park' : 'Jefferson Park (Blue Line)',
    'Kedzie-Brown' : 'Kedzie (Brown Line)',
    'Kedzie-Cermak' : 'Kedzie (Pink Line)',
    'Kedzie-Homan-Forest Park' : 'Kedzie-Homan (Blue Line)',
    'Kedzie-Lake' : 'Kedzie (Green Line)',
    'Kedzie-Midway' : 'Kedzie (Orange Line)',
    'Kimball' : 'Kimball (Brown Line)',
    'King Drive' : 'King Drive (Green Line)',
    'Kostner' : 'Kostner (Pink Line)',
    'LaSalle' : 'LaSalle (Blue Line)',
    'LaSalle/Van Buren' : 'LaSalle/Van Buren (Brown, Orange, Purple & Pink Lines)',
    'Lake/State' : 'Lake (Red Line)',
    'Laramie' : 'Laramie (Green Line)',
    'Lawrence' : 'Lawrence (Red Line)',
    'Library' : 'Harold Washington Library-State/Van Buren (Brown, Orange, Purple & Pink Lines)',
    'Linden' : 'Linden (Purple Line)',
    'Logan Square' : 'Logan Square (Blue Line)',
    'Loyola' : 'Loyola (Red Line)',
    'Madison/Wabash' : 'Madison/Wabash (Closed)',
    'Main' : 'Main (Purple Line)',
    'Medical Center' : 'Illinois Medical District (Blue Line)',
    'Merchandise Mart' : 'Merchandise Mart (Brown & Purple Lines)',
    'Midway Airport' : 'Midway (Orange Line)',
    'Monroe/Dearborn' : 'Monroe (Blue Line)',
    'Monroe/State' : 'Monroe (Red Line)',
    'Montrose-Brown' :  'Montrose (Brown Line)',
    "Montrose-O'Hare" : 'Montrose (Blue Line)',
    'Morgan-Lake' : 'Morgan (Green & Pink Lines)',
    'Morse' : 'Morse (Red Line)',
    'North/Clybourn' : 'North/Clybourn (Red Line)',
    'Noyes' : 'Noyes (Purple Line)',
    "O'Hare Airport" : "O'Hare (Blue Line)",
    'Oak Park-Forest Park' : 'Oak Park (Blue Line)',
    'Oak Park-Lake' : 'Oak Park (Green Line)',
    'Oakton-Skokie' : 'Oakton-Skokie (Yellow Line)',
    'Paulina' : 'Paulina (Brown Line)',
    'Polk' : 'Polk (Pink Line)',
    'Pulaski-Cermak' :  'Pulaski (Pink Line)',
    'Pulaski-Forest Park' : 'Pulaski (Blue Line)',
    'Pulaski-Lake' : 'Pulaski (Green Line)',
    'Pulaski-Orange' : 'Pulaski (Orange Line)',
    'Quincy/Wells' : 'Quincy/Wells (Brown, Orange, Purple & Pink Lines)',
    'Racine' : 'Racine (Blue Line)',
    'Randolph/Wabash' : 'Randolph/Wabash (Closed)',
    'Ridgeland' : 'Ridgeland (Green Line)',
    'Rockwell' : 'Rockwell (Brown Line)',
    'Roosevelt' : 'Roosevelt (Red, Orange & Green Lines)',
    'Rosemont' : 'Rosemont (Blue Line)',
    'Sedgwick' : 'Sedgwick (Brown & Purple Lines)',
    'Sheridan' : 'Sheridan (Red Line)',
    'South Boulevard' : 'South Boulevard (Purple Line)',
    'Skokie' : 'Oakton-Skokie (Yellow Line)',
    'Sox-35th-Dan Ryan' : 'Sox-35th (Red Line)',
    'Southport' : 'Southport (Brown Line)',
    'State/Lake' : 'State/Lake (Brown, Green, Orange, Pink & Purple Lines)',
    'Thorndale' : 'Thorndale (Red Line)',
    'UIC-Halsted' : 'UIC-Halsted (Blue Line)',
    'Washington/Dearborn' : 'Washington (Blue Line)',
    'Washington/Wabash' : 'Washington/Wabash (Brown, Green, Orange, Purple & Pink Lines)',
    'Washington/Wells' : 'Washington/Wells (Brown, Orange, Purple & Pink Lines)',
    'Washington/State' : 'Washington/State (Closed)',
    'Wellington' : 'Wellington (Brown & Purple Lines)',
    'Western-Forest Park' : 'Western (Blue Line - Forest Park Branch)',
    'Western/Milwaukee' : "Western (Blue Line - O'Hare Branch)",
    'Western-Brown' : 'Western (Brown Line)',
    'Western-Cermak' : 'Western (Pink Line)',
    'Western-Orange' : 'Western (Orange Line)',
    'Wilson' : 'Wilson (Red & Purple Lines)'
    }
    
    return lookup[key]

In [4]:
look_up('Wilson')

'Wilson (Red & Purple Lines)'

In [5]:
info_df = pd.read_csv('../Data/system_info.csv')

info_df

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,30106,S,Wilson (95th-bound),Wilson,Wilson (Red & Purple Lines),40540,True,True,False,False,False,False,False,False,False,False,"(41.964273, -87.657588)"
296,30383,N,Washington/Wabash (Outer Loop),Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",41700,True,False,False,True,True,False,False,False,False,False,"(41.88322, -87.626189)"
297,30385,S,Wilson (Loop-bound),Wilson,Wilson (Red & Purple Lines),40540,True,False,False,False,False,False,True,False,False,False,"(41.964273, -87.657588)"
298,30033,W,Ashland (Harlem-54th/Cermak-bound),Ashland,Ashland (Green & Pink Lines),40170,True,False,False,True,False,False,False,False,True,False,"(41.885269, -87.666969)"
299,30032,E,Ashland (Loop-63rd-bound),Ashland,Ashland (Green & Pink Lines),40170,True,False,False,True,False,False,False,False,True,False,"(41.885269, -87.666969)"

In [6]:
closed_stations = pd.DataFrame({
    'STATION_NAME' :['Washington/State (Closed)', 'Randolph/Wabash (Closed)', 'Madison/Wabash (Closed)', 'Homan (Closed)'],
    'STATION_DESCRIPTIVE_NAME' : ['Washington/State (Closed)', 'Randolph/Wabash (Closed)', 'Madison/Wabash (Closed)', 'Homan (Closed)'],
    'RED' : [True , False , False, False ],
    'BLUE' : [False , False , False, False],
    'G': [ False , True, True , True],
    'BRN':[False, True , True , False],
    'P': [ False, False , False , False],
    'Pexp': [False , True , True, False],
    'Y' : [False , False , False, False],
    'Pnk' : [False , True, True , False],
    'O' : [False , True, True , False],
    'Location' : ['(41.8837, -87.6278)', '(41.884431, -87.626149)' , '(41.882023, -87.626098)' , '(41.884914, -87.711327)']
})

closed_stations

,STATION_NAME,STATION_DESCRIPTIVE_NAME,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,Washington/State (Closed),Washington/State (Closed),True,False,False,False,False,False,False,False,False,"(41.8837, -87.6278)"
1,Randolph/Wabash (Closed),Randolph/Wabash (Closed),False,False,True,True,False,True,False,True,True,"(41.884431, -87.626149)"
2,Madison/Wabash (Closed),Madison/Wabash (Closed),False,False,True,True,False,True,False,True,True,"(41.882023, -87.626098)"
3,Homan (Closed),Homan (Closed),False,False,True,False,False,False,False,False,False,"(41.884914, -87.711327)"

In [7]:
info_df = pd.concat([info_df , closed_stations])

info_df

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30162.0,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830.0,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30161.0,E,18th (Loop-bound),18th,18th (Pink Line),40830.0,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
2,30022.0,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120.0,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
3,30023.0,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120.0,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
4,30214.0,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120.0,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,30032.0,E,Ashland (Loop-63rd-bound),Ashland,Ashland (Green & Pink Lines),40170.0,True,False,False,True,False,False,False,False,True,False,"(41.885269, -87.666969)"
0,NaN,NaN,NaN,Washington/State (Closed),Washington/State (Closed),NaN,NaN,True,False,False,False,False,False,False,False,False,"(41.8837, -87.6278)"
1,NaN,NaN,NaN,Randolph/Wabash (Closed),Randolph/Wabash (Closed),NaN,NaN,False,False,True,True,False,True,False,True,True,"(41.884431, -87.626149)"
2,NaN,NaN,NaN,Madison/Wabash (Closed),Madison/Wabash (Closed),NaN,NaN,False,False,True,True,False,True,False,True,True,"(41.882023, -87.626098)"
3,NaN,NaN,NaN,Homan (Closed),Homan (Closed),NaN,NaN,False,False,True,False,False,False,False,False,False,"(41.884914, -87.711327)"

In [8]:
info_df['Neighborhood']=''
info_df['City']=''

In [9]:
info_df

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Neighborhood,City
0,30162.0,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830.0,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)",,
1,30161.0,E,18th (Loop-bound),18th,18th (Pink Line),40830.0,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)",,
2,30022.0,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120.0,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)",,
3,30023.0,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120.0,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)",,
4,30214.0,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120.0,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)",,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,30032.0,E,Ashland (Loop-63rd-bound),Ashland,Ashland (Green & Pink Lines),40170.0,True,False,False,True,False,False,False,False,True,False,"(41.885269, -87.666969)",,
0,NaN,NaN,NaN,Washington/State (Closed),Washington/State (Closed),NaN,NaN,True,False,False,False,False,False,False,False,False,"(41.8837, -87.6278)",,
1,NaN,NaN,NaN,Randolph/Wabash (Closed),Randolph/Wabash (Closed),NaN,NaN,False,False,True,True,False,True,False,True,True,"(41.884431, -87.626149)",,
2,NaN,NaN,NaN,Madison/Wabash (Closed),Madison/Wabash (Closed),NaN,NaN,False,False,True,True,False,True,False,True,True,"(41.882023, -87.626098)",,
3,NaN,NaN,NaN,Homan (Closed),Homan (Closed),NaN,NaN,False,False,True,False,False,False,False,False,False,"(41.884914, -87.711327)",,

In [10]:
for index, row in info_df.iterrows():
    lat = row['Location'].split(',')[0][1:]
    lng = row['Location'].split(',')[1][1:-1]

    params = {
        "latlng": f'{lat}, {lng}',
        "key": gkey
    }

    response = requests.get(base_url, params=params)
    
    city = 'NA'
    
    neighborhood = 'NA'

    address_components = response.json()['results'][0]['address_components']

    for comp in address_components:
        if comp['types'][0] == 'neighborhood':
            neighborhood = comp['long_name']
        elif comp['types'][0]=="locality":
            city = comp['long_name']
            
    info_df.loc[index, 'Neighborhood'] = neighborhood
    info_df.loc[index, 'City'] = city
    
    print(f"{row['STATION_NAME']}: {city} {neighborhood}")

18th: Chicago Lower West Side
18th: Chicago Lower West Side
35th/Archer: Chicago McKinley Park
35th/Archer: Chicago McKinley Park
35th-Bronzeville-IIT: Chicago Douglas
35th-Bronzeville-IIT: Chicago Douglas
43rd: Chicago Bronzeville
43rd: Chicago Bronzeville
51st: Chicago Bronzeville
51st: Chicago Bronzeville
54th/Cermak: Cicero NA
54th/Cermak: Cicero NA
69th: Chicago Greater Grand Crossing
69th: Chicago Greater Grand Crossing
79th: Chicago South Side
79th: Chicago South Side
95th/Dan Ryan: Chicago Roseland
95th/Ran Ryan: Chicago Roseland
Adams/Wabash: Chicago Chicago Loop
Adams/Wabash: Chicago Chicago Loop
Addison: Chicago North Center
Addison: Chicago North Center
Addison: Chicago Lake View East
Addison: Chicago Lake View East
Argyle: Chicago Uptown
Argyle: Chicago Uptown
87th: Chicago South Side
Armitage: Chicago Lincoln Park
Armitage: Chicago Lincoln Park
Ashland: Chicago Lower West Side
Ashland: Chicago Lower West Side
Ashland/63rd: Chicago West Englewood
Ashland/63rd: Chicago West Englewood
Austin: Oak Park NA
Austin: Oak Park NA
Austin: Chicago Austin
Austin: Chicago Austin
Belmont: Chicago Avondale
Belmont: Chicago Avondale
Belmont: Chicago Lake View East
Belmont: Chicago Lake View East
Belmont: Chicago Lake View East
Belmont: Chicago Lake View East
Berwyn: Chicago Edgewater
Berwyn: Chicago Edgewater
Bryn Mawr: Chicago Edgewater
Bryn Mawr: Chicago Edgewater
California: Chicago Marshall Square
California: Chicago Marshall Square
California: Chicago Garfield Park
California: Chicago Garfield Park
Central: Chicago Austin
Central: Chicago Austin
Central Park: Chicago North Lawndale
Central Park: Chicago North Lawndale
Cermak-Chinatown: Chicago South Loop
Cermak-Chinatown: Chicago South Loop
Central: Evanston NA
Central: Evanston NA
Cicero: Cicero NA
Cicero: Cicero NA
Cicero: Chicago Austin
Cicero: Chicago Austin
Cicero: Chicago Austin
Cicero: Chicago Austin
Clark/Lake: Chicago Chicago Loop
Clark/Lake: Chicago Chicago Loop
Clark/Lake: Chicago Chicago Loop
Clark/Lake: Chicago Chicago Loop
Clinton: Chicago Near West Side
Clinton: Chicago Near West Side
Clinton: Chicago West Loop
Clinton: Chicago West Loop
Conservatory: Chicago Garfield Park
Conservatory: Chicago Garfield Park
Cottage Grove: Chicago Woodlawn
Cumberland: Chicago O'Hare
Cumberland: Chicago O'Hare
Damen: Chicago Lower West Side
Damen: Chicago Lower West Side
Damen: Chicago West Town
Damen: Chicago West Town
Damen: Chicago Lincoln Square
Damen: Chicago Lincoln Square
Davis: Evanston NA
Davis: Evanston NA
Dempster: Evanston NA
Dempster: Evanston NA
Diversey: Chicago Lincoln Park
Diversey: Chicago Lincoln Park
Division: Chicago Pulaski Park
Forest Park: Forest Park NA
Forest Park: Forest Park NA
Foster: Evanston NA
Foster: Evanston NA
Francisco: Chicago Albany Park
Francisco: Chicago Albany Park
Fullerton: Chicago Sheffield & DePaul
Fullerton: Chicago Sheffield & DePaul
Fullerton: Chicago Sheffield & DePaul
Fullerton: Chicago Sheffield & DePaul
Garfield: Chicago Washington Park
Garfield: Chicago Washington Park
Grand: Chicago West Town
Grand: Chicago West Town
Grand: Chicago River North
Grand: Chicago River North
Granville: Chicago Edgewater
Granville: Chicago Edgewater
Halsted: Chicago Bridgeport
Halsted: Chicago Bridgeport
Halsted: Chicago Englewood
Halsted: Chicago Englewood
Harlem: Chicago Oriole Park
Harlem: Chicago Oriole Park
Harlem/Lake: Oak Park NA
Harlem/Lake: Oak Park NA
Harrison: Chicago Chicago Loop
Harrison: Chicago Chicago Loop
Division: Chicago Pulaski Park
Garfield: Chicago Fuller Park
Harlem: Forest Park NA
Harold Washington Library-State/Van Buren: Chicago Chicago Loop
Howard: Chicago Rogers Park
Howard: Chicago Rogers Park
Howard: Chicago Rogers Park
Illinois Medical District: Chicago Near West Side
Illinois Medical District: Chicago Near West Side
Indiana: Chicago Bronzeville
Indiana: Chicago Bronzeville
Irving Park: Chicago Old Irving Park
Irving Park: Chicago Old Irving Park
Irving Park: Chicago North Center
Irving Park: Chicago North Center
Jackson: Chicago Chicago Loop
Jackson: Chicago Chicago Loop
Jackson: Chicago Chicago Loop
Jackson: Chicago Chicago Loop
Jarvis: Chicago Rogers Park
Jarvis: Chicago Rogers Park
Jefferson Park: Chicago Jefferson Park
Jefferson Park: Chicago Jefferson Park
Kedzie: Chicago Brighton Park
Kedzie: Chicago Brighton Park
Kedzie: Chicago North Lawndale
Kedzie: Chicago North Lawndale
Kedzie: Chicago East Albany Park
Kedzie: Chicago East Albany Park
Kedzie: Chicago Garfield Park
Kedzie: Chicago Garfield Park
Kedzie-Homan: Chicago Garfield Park
Kedzie-Homan: Chicago Garfield Park
Kimball: Chicago Albany Park
Kimball: Chicago Albany Park
King Drive: Chicago Woodlawn
King Drive: Chicago Woodlawn
Kostner: Chicago North Lawndale
Kostner: Chicago North Lawndale
Laramie: Chicago Austin
Laramie: Chicago Austin
LaSalle: Chicago Chicago Loop
LaSalle: Chicago Chicago Loop
LaSalle/Van Buren: Chicago Chicago Loop
LaSalle/Van Buren: Chicago Chicago Loop
Lawrence: Chicago Uptown
Lawrence: Chicago Uptown
Linden: Wilmette NA
Linden: Wilmette NA
Logan Square: Chicago Logan Square
Logan Square: Chicago Logan Square
Loyola: Chicago Rogers Park
Loyola: Chicago Rogers Park
Main: Evanston NA
Main: Evanston NA
Merchandise Mart: Chicago River North
Merchandise Mart: Chicago River North
Midway: Chicago Garfield Ridge
Midway: Chicago Garfield Ridge
Montrose: Chicago Irving Park
Montrose: Chicago Irving Park
Montrose: Chicago Lincoln Square
Montrose: Chicago Lincoln Square
Morgan: Chicago West Loop
Morgan: Chicago West Loop
Morse: Chicago Rogers Park
Lake: Chicago Chicago Loop
Monroe: Chicago Chicago Loop
Monroe: Chicago Chicago Loop
Monroe: Chicago Chicago Loop
Monroe: Chicago Chicago Loop
Morse: Chicago Rogers Park
North/Clybourn: Chicago Goose Island
North/Clybourn: Chicago Goose Island
Noyes: Evanston NA
Noyes: Evanston NA
Oak Park: Chicago NA
Oak Park: Chicago NA
Oak Park: Oak Park NA
Oak Park: Oak Park NA
Paulina: Chicago Lake View
Paulina: Chicago Lake View
Polk: Chicago Near West Side
Polk: Chicago Near West Side
Pulaski: Chicago Archer Heights
Pulaski: Chicago Archer Heights
Pulaski: Chicago North Lawndale
Pulaski: Chicago North Lawndale
Pulaski: Chicago Garfield Park
Pulaski: Chicago Garfield Park
Pulaski: Chicago Garfield Park
Pulaski: Chicago Garfield Park
Quincy/Wells: Chicago Chicago Loop
Quincy/Wells: Chicago Chicago Loop
Racine: Chicago Near West Side
Racine: Chicago Near West Side
Oakton-Skokie: Skokie NA
Ridgeland: Oak Park NA
Ridgeland: Oak Park NA
Rockwell: Chicago Ravenswood Gardens
Rockwell: Chicago Ravenswood Gardens
O'Hare: Chicago O'Hare
Roosevelt: Chicago Chicago Loop
Rosemont: Rosemont NA
Rosemont: Rosemont NA
Sedgwick: Chicago Near North Side
Sedgwick: Chicago Near North Side
Sheridan: Chicago Lake View East
Sheridan: Chicago Lake View East
Sheridan: Chicago Lake View East
Sheridan: Chicago Lake View East
South Boulevard: Evanston NA
South Boulevard: Evanston NA
Southport: Chicago Lake View
Southport: Chicago Lake View
Sox-35th: Chicago Armour Square
Sox-35th: Chicago Armour Square
State/Lake: Chicago Chicago Loop
State/Lake: Chicago Chicago Loop
Thorndale: Chicago Edgewater
Thorndale: Chicago Edgewater
UIC-Halsted: Chicago Near West Side
UIC-Halsted: Chicago Near West Side
Dempster-Skokie: Skokie NA
Washington/Wells: Chicago Chicago Loop
Washington/Wells: Chicago Chicago Loop
Wellington: Chicago Lake View East
Wellington: Chicago Lake View East
Western: Chicago South Side
Western: Chicago South Side
Western: Chicago Lower West Side
Western: Chicago Lower West Side
Roosevelt: Chicago Chicago Loop
Roosevelt: Chicago Chicago Loop
Washington: Chicago Chicago Loop
Washington: Chicago Chicago Loop
Western: Chicago Lincoln Square
Western: Chicago Lincoln Square
Cottage Grove: Chicago Woodlawn
Clark/Division: Chicago Rush & Division
87th: Chicago South Side
Dempster-Skokie: Skokie NA
Oakton-Skokie: Skokie NA
47th: Chicago Bronzeville
47th: Chicago Bronzeville
47th: Chicago Fuller Park
47th: Chicago Fuller Park
Howard: Chicago Rogers Park
California: Chicago Logan Square
California: Chicago Logan Square
Chicago: Chicago West Town
Chicago: Chicago Near North
Chicago: Chicago Near North
Chicago: Chicago River North
Chicago: Chicago River North
Chicago: Chicago West Town
63rd: Chicago Englewood
63rd: Chicago Englewood
Garfield: Chicago Fuller Park
Harlem: Forest Park NA
Harold Washington Library-State/Van Buren: Chicago Chicago Loop
Western: Chicago Bucktown
Lake: Chicago Chicago Loop
Roosevelt: Chicago Chicago Loop
O'Hare: Chicago O'Hare
Western: Chicago Near West Side
Western: Chicago Near West Side
Western: Chicago Bucktown
Cermak-McCormick Place: Chicago Near South Side
Cermak-McCormick Place: Chicago Near South Side
Wilson: Chicago Uptown
Addison: Chicago Irving Park
Wilson: Chicago Uptown
Washington/Wabash: Chicago Chicago Loop
Clark/Division: Chicago Rush & Division
Addison: Chicago Irving Park
Wilson: Chicago Uptown
Washington/Wabash: Chicago Chicago Loop
Wilson: Chicago Uptown
Ashland: Chicago West Loop
Ashland: Chicago West Loop
Washington/State (Closed): Chicago Chicago Loop
Randolph/Wabash (Closed): Chicago Chicago Loop
Madison/Wabash (Closed): Chicago Chicago Loop
Homan (Closed): Chicago Garfield Park

In [11]:
info_df

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Neighborhood,City
0,30162.0,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830.0,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)",Chicago Loop,Chicago
1,30161.0,E,18th (Loop-bound),18th,18th (Pink Line),40830.0,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)",Chicago Loop,Chicago
2,30022.0,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120.0,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)",Chicago Loop,Chicago
3,30023.0,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120.0,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)",Garfield Park,Chicago
4,30214.0,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120.0,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)",Douglas,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,30032.0,E,Ashland (Loop-63rd-bound),Ashland,Ashland (Green & Pink Lines),40170.0,True,False,False,True,False,False,False,False,True,False,"(41.885269, -87.666969)",West Loop,Chicago
0,NaN,NaN,NaN,Washington/State (Closed),Washington/State (Closed),NaN,NaN,True,False,False,False,False,False,False,False,False,"(41.8837, -87.6278)",Chicago Loop,Chicago
1,NaN,NaN,NaN,Randolph/Wabash (Closed),Randolph/Wabash (Closed),NaN,NaN,False,False,True,True,False,True,False,True,True,"(41.884431, -87.626149)",Chicago Loop,Chicago
2,NaN,NaN,NaN,Madison/Wabash (Closed),Madison/Wabash (Closed),NaN,NaN,False,False,True,True,False,True,False,True,True,"(41.882023, -87.626098)",Chicago Loop,Chicago
3,NaN,NaN,NaN,Homan (Closed),Homan (Closed),NaN,NaN,False,False,True,False,False,False,False,False,False,"(41.884914, -87.711327)",Garfield Park,Chicago

In [12]:
info_df.to_csv('info_neighborhoods.csv', index = False)

In [8]:
info_df =pd.read_csv('info_neighborhoods.csv')

In [9]:
station_df = info_df.groupby('STATION_DESCRIPTIVE_NAME').agg({
    'Location':'last',
    'Neighborhood':'last',
    'City':'last',
    'RED':'max',
    'BLUE':'max',
    'G': 'max',
    'BRN': 'max',
    'P': 'max',
    'Pexp': 'max',
    'Y':'max',
    'Pnk': 'max',
    'O': 'max'
})

In [2]:
max(True , False, False)

True

In [10]:
station_df.reset_index()

,STATION_DESCRIPTIVE_NAME,Location,Neighborhood,City,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O
0,18th (Pink Line),"(41.857908, -87.669147)",Chicago Loop,Chicago,False,False,False,False,False,False,False,True,False
1,35th-Bronzeville-IIT (Green Line),"(41.831677, -87.625826)",Douglas,Chicago,False,False,True,False,False,False,False,False,False
2,35th/Archer (Orange Line),"(41.829353, -87.680622)",Garfield Park,Chicago,False,False,False,False,False,False,False,False,True
3,43rd (Green Line),"(41.816462, -87.619021)",Bronzeville,Chicago,False,False,True,False,False,False,False,False,False
4,47th (Green Line),"(41.809209, -87.618826)",Bronzeville,Chicago,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Western (Blue Line - O'Hare Branch),"(41.916157, -87.687364)",Bucktown,Chicago,False,True,False,False,False,False,False,False,False
145,Western (Brown Line),"(41.966163, -87.688502)",Lincoln Square,Chicago,False,False,False,True,False,False,False,False,False
146,Western (Orange Line),"(41.804546, -87.684019)",South Side,Chicago,False,False,False,False,False,False,False,False,True
147,Western (Pink Line),"(41.854225, -87.685129)",Lower West Side,Chicago,False,False,False,False,False,False,False,True,False
148,Wilson (Red & Purple Lines),"(41.964273, -87.657588)",Uptown,Chicago,True,False,False,False,False,True,False,False,False

In [15]:
station_df = station_df.drop(['DIRECTION_ID', 'STOP_ID' , 'STOP_NAME' , 'STATION_NAME', 'MAP_ID' ], axis = 1)

In [11]:
station_df = station_df.reset_index()

In [12]:
station_df = station_df.rename(columns={'STATION_DESCRIPTIVE_NAME': 'Station Name'})

In [13]:
station_df

,Station Name,Location,Neighborhood,City,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O
0,18th (Pink Line),"(41.857908, -87.669147)",Chicago Loop,Chicago,False,False,False,False,False,False,False,True,False
1,35th-Bronzeville-IIT (Green Line),"(41.831677, -87.625826)",Douglas,Chicago,False,False,True,False,False,False,False,False,False
2,35th/Archer (Orange Line),"(41.829353, -87.680622)",Garfield Park,Chicago,False,False,False,False,False,False,False,False,True
3,43rd (Green Line),"(41.816462, -87.619021)",Bronzeville,Chicago,False,False,True,False,False,False,False,False,False
4,47th (Green Line),"(41.809209, -87.618826)",Bronzeville,Chicago,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Western (Blue Line - O'Hare Branch),"(41.916157, -87.687364)",Bucktown,Chicago,False,True,False,False,False,False,False,False,False
145,Western (Brown Line),"(41.966163, -87.688502)",Lincoln Square,Chicago,False,False,False,True,False,False,False,False,False
146,Western (Orange Line),"(41.804546, -87.684019)",South Side,Chicago,False,False,False,False,False,False,False,False,True
147,Western (Pink Line),"(41.854225, -87.685129)",Lower West Side,Chicago,False,False,False,False,False,False,False,True,False
148,Wilson (Red & Purple Lines),"(41.964273, -87.657588)",Uptown,Chicago,True,False,False,False,False,True,False,False,False

In [15]:
station_df.to_csv('station_info.csv', index = False)

In [28]:
station_df = pd.read_csv('station_info.csv')

In [27]:
L_df['Station Name'] = L_df['stationname'].apply(look_up)

In [28]:
L_df = L_df.drop(['station_id', 'stationname'], axis = 1)

In [29]:
L_df

,date,daytype,rides,Station Name
0,10/09/2004,A,1057,Harold Washington Library-State/Van Buren (Bro...
1,06/18/2010,W,1154,Central Park (Pink Line)
2,10/30/2001,W,2116,Montrose (Brown Line)
3,10/26/2006,W,0,Washington/State (Closed)
4,07/07/2010,W,9431,Monroe (Red Line)
...,...,...,...,...
1006156,04/26/2020,U,419,"Washington/Wabash (Brown, Green, Orange, Purpl..."
1006157,04/27/2020,W,883,"Washington/Wabash (Brown, Green, Orange, Purpl..."
1006158,04/28/2020,W,880,"Washington/Wabash (Brown, Green, Orange, Purpl..."
1006159,04/29/2020,W,768,"Washington/Wabash (Brown, Green, Orange, Purpl..."
1006160,04/30/2020,W,880,"Washington/Wabash (Brown, Green, Orange, Purpl..."

In [30]:
L_data_merged = L_df.merge(station_df, on = 'Station Name', how ='left')

In [31]:
L_data_merged

,date,daytype,rides,Station Name,Location,Neighborhood,City,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O
0,10/09/2004,A,1057,Harold Washington Library-State/Van Buren (Bro...,"(41.876862, -87.628196)",Chicago Loop,Chicago,False,False,False,True,False,True,False,True,True
1,06/18/2010,W,1154,Central Park (Pink Line),"(41.853839, -87.714842)",North Lawndale,Chicago,False,False,False,False,False,False,False,True,False
2,10/30/2001,W,2116,Montrose (Brown Line),"(41.961756, -87.675047)",Lincoln Square,Chicago,False,False,False,True,False,False,False,False,False
3,10/26/2006,W,0,Washington/State (Closed),"(41.8837, -87.6278)",Chicago Loop,Chicago,True,False,False,False,False,False,False,False,False
4,07/07/2010,W,9431,Monroe (Red Line),"(41.880745, -87.627696)",Chicago Loop,Chicago,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006156,04/26/2020,U,419,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006157,04/27/2020,W,883,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006158,04/28/2020,W,880,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006159,04/29/2020,W,768,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006160,04/30/2020,W,880,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True

In [32]:
L_data_merged.to_csv('L_data_merged.csv', index =False)

In [33]:
L_data = pd.read_csv('L_data_merged.csv' , low_memory=False)

In [34]:
L_data

,date,daytype,rides,Station Name,Location,Neighborhood,City,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O
0,10/09/2004,A,1057,Harold Washington Library-State/Van Buren (Bro...,"(41.876862, -87.628196)",Chicago Loop,Chicago,False,False,False,True,False,True,False,True,True
1,06/18/2010,W,1154,Central Park (Pink Line),"(41.853839, -87.714842)",North Lawndale,Chicago,False,False,False,False,False,False,False,True,False
2,10/30/2001,W,2116,Montrose (Brown Line),"(41.961756, -87.675047)",Lincoln Square,Chicago,False,False,False,True,False,False,False,False,False
3,10/26/2006,W,0,Washington/State (Closed),"(41.8837, -87.6278)",Chicago Loop,Chicago,True,False,False,False,False,False,False,False,False
4,07/07/2010,W,9431,Monroe (Red Line),"(41.880745, -87.627696)",Chicago Loop,Chicago,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006156,04/26/2020,U,419,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006157,04/27/2020,W,883,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006158,04/28/2020,W,880,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006159,04/29/2020,W,768,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True
1006160,04/30/2020,W,880,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",Chicago Loop,Chicago,False,False,True,True,False,True,False,True,True